@import "fonts";
@import "variables";
@import "libs/normalize";

@import "comps/all";

body {
  font-family: "Noto Serif";
  color: var(--secondary);
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  background-color: #000;
  font-family: "robotolight";
}

.container {
  max-width: 860px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.none {
  display: none;
}

.progress-bar {
  height: 5px;
  background: red;
  margin-top: 20px;
  margin-bottom: 30px;
}

.loading {
  position: absolute;
  top: 50px;
  left: 50px;
  color: red;
}

.position {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 50px;
  top: 50px;
}
